.*
!.gitignore
!.dockerignore

# Python
__pycache__/
*.py[cod]

build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
mlruns/